{% extends "dashboard/new_base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ image_form.image }}
                    {{ image_form.is_main }}
                    <button class="btn btn-success" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}