{% extends "dashboard/new_base.html" %}
{% load mptt_tags %}

{% load static %}
{% load utils %}

{% block title %}
  Categories {{ block.super }}
{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block header_menu %}
  {{ block.super }}
{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:category-add' %}" class="btn-fab-default waves-effect waves-light" title="Add category">
      <svg data-src="{% static 'dashboard/images/add.svg' %}"/>
    </a>
  </div>
{% endblock %}

{% block breadcrubs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Категории</li>
  </ol>
</nav>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="container-fluid dash-content">
    <div class="row">
      <div class="col-9 ">
      {% if categories %}
          <div class="data-table-container">
            <table class="table-dashboard">
              <thead>
                <tr class="tr-dashboard">
                  <th>
                    Имя
                  </th>
                  <th>
                    Описание
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for node in categories %}
                  <tr class="tr-dashboard">
                    <td >
                      <a href="{% url 'dashboard:category-detail' pk=node.pk %}">
                      {{ node.name }}
                      </a>
                    </td>
                    <td>
                      {% if node.description %}
                        {{ node.description|truncatewords:10 }}
                      {% else %}
                        &nbsp;
                      {% endif %}
                    </td>
                  </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/category/zero_page.html' %}
        {% else %}
          <div class="col-10">
            <div class="not-found">
              <p class="grey-text">
                No categories found.
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}

    <div class="col-3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
      <div class="add" data-background-color="blue">
        <a class="btn btn-success" href="{% url 'dashboard:category-add'  %}">Добавить</a>
      </div>
    </div>
      </div>
  </div>
{% endblock %}
