
# python
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
local_settings.py
.cpython-36.pyc

.env
db.sqlite3
*.bak

*.sqlite3

*.py[c]


