{% extends "dashboard/new_base.html" %}
{% load static %}

{% block title %}
  {% if attribute.pk %}
   Edit - {{ attribute }}
  {% else %}
    Add new attribute
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:attributes" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:attributes-list' %}" class="breadcrumbs--ellipsed-item">
        Attributes
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:attributes-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    {% if attribute.pk %}
    <li>
      <a href="{% url 'dashboard:attribute-detail' attribute.pk %}" class="breadcrumbs--ellipsed-item">
        {{ attribute }}
      </a>
    </li>
    {% endif %}
    {% if value.pk %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Edit
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Add new attribute
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="container-fluid dash-content">
    <div class="row">
        <form method="post" >
          {% csrf_token %}
            <h3 class="heading-dashboard">
              <small class="text-muted" >Attribute values</small>
            </h3>
              {{ form}}
          <div class="row">
            <div class="col-3">
              <a href="{% url 'dashboard:attribute-detail' pk=attribute.pk %}" class="btn btn-success">
                Cancel
              </a>
            </div>
            {% if value.pk %}
            <div class="col-3">
              <button type="submit" class="btn btn-success">
                Save
              </button>
              </div>
            {% else %}
            <div class="col-3">
              <button type="submit" class="btn btn-success">
                Create
              </button>
              </div>
            {% endif %}
          </div>
        </form>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}
