{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
  {% if attribute.pk %}
   Edit - {{ attribute }}
  {% else %}
    Add new attribute
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:attributes" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:attributes-list' %}" class="breadcrumbs--ellipsed-item">
        Attributes
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:attributes-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    {% if attribute.pk %}
    <li>
      <a href="{% url 'dashboard:attribute-detail' attribute.pk %}" class="breadcrumbs--ellipsed-item">
        {{ attribute }}
      </a>
    </li>
    {% endif %}
    {% if value.pk %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Edit
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Add new attribute
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <span class="card-title">
              Attribute values
            </span>
            <div class="row">
              {{ form}}
            </div>
          </div>
          <div class="card-action right-align">
            <a href="{% url 'dashboard:attribute-detail' pk=attribute.pk %}" class="btn-flat waves-effect">
              Cancel
            </a>
            {% if value.pk %}
              <button type="submit" class="btn waves-effect">
                Save
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                Create
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}
