{% extends 'dashboard/new_base.html' %}


{% load static %}

{% block title %}
  {{ attribute }} - {{ block.super }}
{% endblock %}

{% block body_class %}body-attribute{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:attributes-list' %}" class="breadcrumbs--ellipsed-item">
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:attributes-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ attribute }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="heading-dashboard">
            <small class="text-muted" >{{ attribute.name }}</small>
        </h3>

      </div>
      <div class="row">
          <a class="btn btn-success" href="{% url 'dashboard:attribute-detail' attribute.pk %}">
            Edit attribute
          </a>
          <a class="btn btn-success" href="{% url 'dashboard:attribute-detail' pk=attribute.pk %}">
            Remove attribute
          </a>
      </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="heading-dashboard">
            <small class="text-muted" >Attribute values</small>
          </h3>
        </div>
        <div class="data-table-header-action">
          <a href="{% url 'dashboard:attribute-value-add' attribute_pk=attribute.pk %}" class="btn-flat waves-effect">
            Add
          </a>
        </div>
        <div class="data-table-container">
          <table class="table-dashboard">
            <thead>
              <tr>
                <th class="data-table-icon"></th>

                <th>Display name</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="sortable-items" data-post-url="{% url 'dashboard:attribute-detail' pk=attribute.pk %}" data-post-name="ordered_values">
              {% for value in values %}
                <tr class="tr-dashboard" data-id="{{ value.pk }}">
                  <td>
                    <svg data-src="{% static "dashboard/images/reorder.svg" %}" height="20" width="20" fill="#000" />
                  </td>
                  <td>
                    <a href="{% url 'dashboard:attribute-value-add' attribute_pk=attribute.pk value_pk=value.pk %}" >
                    {{ value.name }}
                    </a>
                  </td>
                  <td class="right-align">
                    <a href="{% url 'dashboard:attribute-detail' pk=attribute.pk  %}" class="btn-flat waves-effect">
                    </a>
                    <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:attribute-detail' pk=attribute.pk  %}">
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
