{% extends "dashboard/new_base.html" %}
{% load static %}
{% load utils %}

{% block title %}
  {% if attribute.pk %}
   Edit - {{ attribute }}
  {% else %}
    Add new attribute
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:attributes-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:attributes-list' %}" class="breadcrumbs--ellipsed-item">
        Attributes
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:attributes-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    {% if attribute.pk %}
    <li>
      <a href="{% url 'dashboard:attribute-details' attribute.pk %}" class="breadcrumbs--ellipsed-item">
        {{ attribute }}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Edit
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        Add new attribute
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
        <form method="post">
            {% csrf_token %}
              <p>Attribute name</p>
              {{ form.name}}
              <p>Attribute slug</p>
              {{ form.slug}}
            {% if attribute.pk %}
              <a href="{% url 'dashboard:attribute-details' attribute.pk %}" class="btn-flat waves-effect">
                Cancel
              </a>
              <button type="submit" class="btn waves-effect">
                Save
              </button>
            {% else %}

              <button type="submit" class="btn waves-effect">
               Create
              </button>
           <a href="{% url 'dashboard:attributes-list' %}" class="btn-flat waves-effect">
                Cancel
              </a>
            {% endif %}
        </form>
      </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}
