{% extends "dashboard/new_base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span>
                    {{ product.name }}
                </span>
                <h4>Описание:</h4>
                <p>
                    {{ product.description }}
                </p>
                <a href="{% url 'dashboard:product-images-list' prod_pk=product.pk %}">
                        Добавить изображение
                </a>


            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'dashboard:product-edit' pk=product.pk %}">
                    Редактировать продукт
                </a>
            </div>
            <div class="col-6">
                <a href="{% url 'dashboard:product-delete' pk=product.pk %}">
                    Удалить продукт
                </a>
            </div>

        </div>
    </div>
{% endblock %}
