{% extends "dashboard/new_base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                <div class="col-8">
                    <p>Product Name</p>
                    {{ product_form.name }}
                    <p>Product Description</p>
                    {{ product_form.description}}
                    <p>Product Price</p>
                    {{ product_form.price }}
                    <p>Product Stock</p>
                    {{ product_form.stock }}

                    <div class="add" data-background-color="blue">
                    <button class="btn btn-success" type="submit">
                        Save
                    </button>
                </div>

                </div>
                <div class="col-4">
                    <p>Avalilable</p>
                    {{ product_form.available }}
                    <p>Product Category</p>
                    {{ product_form.category}}
                    <p>Product Attributes</p>
                    {% for attribute_field in product_form.iter_atribute_fields %}
                    <p>{{ attribute_field.name }}</p>
                        {{ attribute_field }}
                    {% endfor %}


                </div>

                    </div>
            </form>
                </div>
        </div>
    </div>
{% endblock %}
<!--<body>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <p>Product Name</p>-->
<!--        {{ product_form.name }}-->
<!--        <p>Product Description</p>-->
<!--        {{ product_form.description}}-->
<!--        <p>Product Category</p>-->
<!--        {{ product_form.category}}-->
<!--        <p>Product Attributes</p>-->
<!--        {% for attribute_field in product_form.iter_atribute_fields %}-->
<!--        <p>{{ attribute_field.name }}</p>-->
<!--            {{ attribute_field }}-->
<!--        {% endfor %}-->
<!--        <p>Product Price</p>-->
<!--        {{ product_form.price }}-->
<!--        <p>Product Stock</p>-->
<!--        {{ product_form.stock }}-->
<!--        <p>Avalilable</p>-->
<!--        {{ product_form.available }}-->
<!--        <button type="submit">-->
<!--            Save-->
<!--        </button>-->
<!--    </form>-->
<!--</body>-->
