{% extends "dashboard/new_base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid dash-content">
        <div class="row">
            <div class="col-9">
                {% if paginate %}
                    <div class="data-table-container">
                        <table class="table-dashboard">
                            <thead>
                                <tr class="tr-dashboard">
                                    <th>
                                        №
                                    </th>
                                    <th>
                                        Date created
                                    </th>
                                    <th>
                                        Total price
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        to_csv
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for node in paginate %}
                                <tr class="tr-dashboard">
                                    <td>
                                        <a href="{% url 'dashboard:order-details' node.id %}">
                                            {{ node.id }}
                                        </a>
                                    </td>
                                    <td>
                                        {{node.created}}
                                    </td>
                                    <td>
                                        {{node.total}}
                                    </td>
                                    <td>
                                        {{node.status}}
                                    </td>
                                    <td>
                                        {{node.user_email}}
                                    </td>
                                    <td>
                                        <a href="{% url 'dashboard:to-csv' node.id %}">
                                            Download
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3> No nodes yet</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}