<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Custom styles -->
    <link rel="stylesheet"  href="{% static 'css/new_style.css' %}" >
      <style>

      </style>

    <title>Dashboard</title>

  </head>
  <body>
   <header>
          <nav class="nav-top">
              <div class="wrapper-nav " >
                  <ul class="list-group list-group-horizontal list-group-flush">
                      <li class="list-group-item list-group-item-success"> # </li>
                      <li class="list-group-item list-group-item-success">IDron</li>
                      <li class=" search list-group-item list-group-item-success">Search</li>
                  </ul>
              </div>
          </nav>
   </header>
   {% block breadcrubs %}
   <div class="header-sub">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>
   </div>
   {% endblock %}
    <div class="wrapper">
        <div class="container-fluid">
           <div class="row">
              <div class="col-2">
                  <ul class="list-group list-group-flush ">
                      <li class="list-group-item list-group-item-success">
                          <a href="{% url 'dashboard:index' %}" class="ul-dash-home">
                            Home
                          </a>
                      </li>
                      <li class="list-group-item  list-group-item-success">Каталог
                        <a href="{% url 'dashboard:category-list' %}" class="list-group-item list-group-item-action list-group-item-success">Категории</a>
                        <a href="{% url 'dashboard:product-list' %}" class="list-group-item list-group-item-action list-group-item-success">Продукты</a>
                      </li>
                      <li class="list-group-item list-group-item-success">Настройки
                          <a href="{% url 'dashboard:attributes-list' %}" class="list-group-item list-group-item-action list-group-item-success">Атрибуты</a>
                          <a href="{% url 'dashboard:product-type-list' %}" class="list-group-item list-group-item-action list-group-item-success">Тип продукта</a>
                          <a href="{% url 'dashboard:coupons-list' %}" class="list-group-item list-group-item-action list-group-item-success">Купоны</a>
                      </li>
                      <li class="list-group-item list-group-item-success">Люди
                          <a href="{% url 'dashboard:staff-list' %}" class="list-group-item list-group-item-action list-group-item-success">Персонал</a>
                      </li>
                      <li class="list-group-item list-group-item-success">Заказы
                          <a href="{% url 'dashboard:orders-list' %}" class="list-group-item list-group-item-action list-group-item-success">Все заказы</a>

                      </li>
                  </ul>
              </div>
               <div class="col-10">
                   {% block content %} {% endblock %}
               </div>
           </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>