{% extends "dashboard/new_base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid dash-content">
        <div class="row">
            <div class="col-9">
                {% if paginate %}
                    <div class="data-table-container">
                        <table class="table-dashboard">
                            <thead>
                                <tr class="tr-dashboard">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Date start
                                    </th>
                                    <th>
                                        Date end
                                    </th>
                                    <th>
                                        Discount
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Products
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pk, name, star_date, end_date, discount, is_active, products in paginate %}
                                <tr class="tr-dashboard">
                                    <td>
                                        <a href="{% url 'dashboard:sale-details' pk %}">
                                            {{ name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{start_date}}
                                    </td>
                                    <td>
                                        {{end_date}}
                                    </td>
                                    <td>
                                        {{discount}}
                                    </td>
                                    <td>
                                        {{is_active}}
                                    </td>
                                    <td>
                                        {% if products%}
                                        {{products|join:', '}}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3> No coupons yet</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            <a class="btn btn-success" href="{% url 'dashboard:sale-add' %}">
                Add
            </a>
            </div>
        </div>
    </div>
{% endblock %}